*.la
*.lo
*.o
*/.deps/*
*/.libs/*
/aclocal.m4
/aminclude.m4
/autom4te.cache/*
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test/iovec_is_valid_range
/test/timeout
Makefile
Makefile.in
