*.la
*.lo
*.loT
*.o
*/.deps/*
*/.libs/*
/INSTALL
/_configs.sed
/aclocal.m4
/autom4te.cache/*
/build-aux/config.guess
/build-aux/config.h
/build-aux/config.h.in
/build-aux/config.h.in~
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/stamp-h1
/config.cache
/config.log
/config.status
/configure
/doc/Doxyfile
/doc/html
/include/ioxx/detail/config.hpp
/ioxx-0.*.tar.gz
/libtool
/ltmain.sh
/missing
/test/demux
/test/dns
/test/inetd
/test/iovec_is_valid_range
/test/schedule
/test/socket
Makefile
Makefile.in
