*.la
*.lo
*.loT
*.o
*/.deps/*
*/.libs/*
/aclocal.m4
/autom4te.cache/*
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/config.cache
/config.log
/config.status
/configure
/doc/Doxyfile
/doc/html/*
/include/ioxx/config.hpp
/include/ioxx/config.hpp.in~
/include/ioxx/stamp-h1
/libtool
/ltmain.sh
/missing
/test/demux
/test/dispatch
/test/iovec_is_valid_range
/test/resolver
/test/scheduler
/test/socket
Makefile
Makefile.in
