/00gnulib.m4
/Makefile.am
/announce-gen
/config.h
/config.h.in
/depcomp
/dummy.c
/git-version-gen
/gitlog-to-changelog
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/gnupload
/install-sh
/missing
/onceonly.m4
/stamp-h1
/useless-if-before-free
/vc-list-files
